* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
  background-color: #c0c0c0;
	background-image: url('/assets/image/background.jpg');
  background-repeat: no-repeat;
	background-size: cover;
}


/* header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  

  margin: 100px 0 40px 0;
}
header img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-bottom: 30px;    
}

#texts {
  margin-left: 20px;
}

header h1 {
  font-size: 45px;
  font-weight: 900;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
}

header p.line {
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 120%;
  color: #f7f0f0;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}


/* animation */

.typing-animation {
  animation: blinkCursor 1s steps(10) infinite normal, typing 1.7s steps(20) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 7.4em;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: transparent;
    
  }
}


/* section */

section{
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
	margin: 20px;
}

section a{
  text-decoration: none;
  flex-basis: 270px;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px;
}

section div{
  min-height: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: colunm;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 3px solid #17171C;
}

section div:hover{
  border: 3px solid #fff;
}

section div .iconify{
  font-size: 25px;
  margin: 10px 25px 10px 0;
  color: #000;
}

section div h3{
  text-align: center;
  line-height: 23px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  color: #000;
}

a#vini{
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;

}

a#vini:hover {
  color: #c5c5c5;
}

@media (max-width: 600px){ 
  header {
    margin: 50px 0 40px 0;
  }
  
  header h1 {
    font-size: 25px;
  }

  header p.line {
    font-size: 85%;
  }

  footer {
  position: relative;
  left: 17%;
  }
}

@media (max-width: 370px) {
  header {
    flex-direction: column;
  }

  footer {
    left: 7%;
  }
  a#vini{
    font-size: 15px;
  }
}